#slideshow {
position: relative;
}
#slideshow .slide_title {
}
#slideshow .slideshow_text {
    display:block;
    position: absolute;
    left: 0;
    top:0px;
    width:200px;
}
#slideshow .position {
    width:auto;
    height:auto;
    padding:20px 25px 20px 25px;
}
#slideshow #position_Top-Left .position,
#slideshow #position_Top-Right .position
#slideshow #position_Top-Center .position{
  padding-top:40px;
}
#slideshow #position_Top-Left {
    padding-bottom:27px;
    height:auto;
    left:45px;
    top:50px;
    right: auto;
}
#slideshow #position_Top-Center {
    padding-bottom:27px;
   height:auto;
    top:50px;
    margin: auto;
    left: 0px;
    right: 0px;
text-align: center;
}
#slideshow #position_Top-Right {
    padding-bottom:27px;
    height:auto;
    right: 45px;
    left: auto;
    top:50px;
text-align: right;
}
#slideshow #position_Middle-Left {
    height: auto;
    left:45px;
    top:35%;
 }
#slideshow #position_Middle-Center {
    height:auto;
    top:35%;
    margin: auto;
    left: 0px;
    right: 0px;
}
#slideshow #position_Middle-Right {
    height:auto;
    top:35%;
    left: auto;
    right: 45px;
    padding-left:10px;
}
#slideshow #position_Bottom-Left {
height:auto;
    left:45px;
    bottom:50px;
top:auto;
 align:bottom;
}
#slideshow #position_Bottom-Center {
    height:auto;
top: auto;    bottom:50px;
    margin: auto;
    left: 0px;
    right: 0px;
}
#slideshow #position_Bottom-Right {
    height: auto;
    bottom:50px;
top: auto;
    left: auto;
    right: 45px;
    padding-left:10px;
 vertical-align:bottom;
}
#slideshow #position_Float-Left {
    height:98%;
    left:0px;
   right: auto;
}
#slideshow #position_Float-Right {
   padding-bottom:0px;
    height:98%;
    right: 0px;
    left: auto;
    top:0px;
}

#slideshow .link_text .field-name-field-link-text h2.field-label{
  display:none;
}
#slideshow .link_text{
  margin-top:10px;
}
#slideshow .link_text a{
  color: inherit;
    background: inherit;
padding: 10px 10px;
  border:0px solid #fff;
  font-weight:bold;
    text-align: inherit;
    border-radius: 7px;
}
#slideshow .link_text a:hover{
  text-decoration:none;
}
#slideshow .edit_link a {
  background: #003399 none repeat scroll 0 0;
  color: #fff;
  padding: 5px 15px;
  position: absolute;
}
.mobile_image_text_box_caption{
  display:none;
}
@media only screen and (min-width:0px) and (max-width:767px) {
  #slideshow .slideshow_text,
  .flexslider ul.flex-direction-nav li,
  .flexslider ol.flex-control-nav{
    display:none;
  }
  .mobile_image_text_box_caption{
    display:block;
  }
}
@media only screen and (min-width:768px) and (max-width:1174px){
  #slideshow #position_Top-Left,
  #slideshow #position_Top-Right,
  #slideshow #position_Top-Center{
    top:20px;
  }
  #slideshow #position_Fixed-left .position,
  #slideshow #position_Fixed-Right .position,
  #slideshow #position_ .position{
    padding-top:20px;
  }
  #slideshow #position_Float-Left,
  #slideshow #position_,
  #slideshow #position_Float-Right {
    padding-bottom:0px;
  }
  #slideshow .slide_title {
    font-size: 24px;
  }
  #slideshow .slide_text {
    font-size: 16px;
  }
}